/* ========================================
   COMMON LAYOUT
======================================== */

.container {
  width: 90%;
  max-width: var(--container-width);
  margin: 0 auto;
}

.section {
  padding: 80px 0;
}