/* ========================================
   NAVBAR
======================================== */

.navbar {
  height: 80px;
  display: flex;
  align-items: center;

  background: var(--white);

  border-bottom: 1px solid var(--border-color);

  position: sticky;
  top: 0;

  z-index: 1000;
}


/* NAVBAR CONTAINER */

.navbar-container {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* LOGO */

.logo {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0.5px;

  color: var(--primary-color);
}

.logo span {
  color: var(--secondary-text-color);
}


/* NAVIGATION */

.nav-menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-menu a {
  font-size: 15px;
  font-weight: 500;

  position: relative;

  transition: 0.3s;
}

.nav-menu a:hover {
  color: var(--secondary-text-color);
}


/* ACTIVE PAGE */

.nav-menu a.active {
  color: var(--secondary-text-color);
}


/* CONTACT BUTTON */

.nav-menu .contact-button {
  background: var(--secondary-color);
  color: white;

  padding: 12px 20px;

  border-radius: 4px;
}

.nav-menu .contact-button:hover {
  background: var(--primary-color);
  color: white;
}


/* MOBILE BUTTON */

.menu-toggle {
  display: none;

  background: none;
  border: none;

  font-size: 24px;

  color: var(--primary-color);

  cursor: pointer;
}
